/* ------------ VARIABLES ------------ */
:root {
  /* COLORS */
  --color: #9176ff;
  --dark-color: #2b2b2b;
  --dark-icon-color: #fff;
}

/* ------------ BASE ------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------- DARKMODE -------------- */
body.darkmode {
  background-color: var(--dark-color);
}

.darkmode .btn {
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.3),
    inset 8px 0 8px rgba(0, 0, 0, 0.3), inset 0 -4px 4px rgba(0, 0, 0, 0.3);
}

.darkmode .btn__indicator {
  transform: translateX(2em);
  background-color: var(--dark-color);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3);
}

.darkmode .btn__icon {
  color: var(--dark-icon-color);
}

/* ------------ DARKMODE -------------- */
body.darkmode {
  background-color: var(--dark-color);
  color: #fff; /* Change text color to white in dark mode */
}

.darkmode .container {
  border-color: #fff; /* Change border color to white in dark mode */
}

.darkmode .texte1,
.darkmode .texte2,
.darkmode .données_structurées,
.darkmode .internet,
.darkmode .web {
  background-color: var(--dark-color);
  color: #fff;
  border-color: var(
    --color
  ); /* Change border color to default color in dark mode */
}

.darkmode .texte1:hover,
.darkmode .texte2:hover,
.darkmode .données_structurées:hover,
.darkmode .internet:hover,
.darkmode .web:hover {
  background-color: var(
    --color
  ); /* Change background color on hover in dark mode */
  color: #fff;
}

.darkmode header {
  background-color: #9176ff; /* Change header background color in dark mode */
}

.darkmode nav a {
  color: #fff; /* Change navigation link color in dark mode */
}

.darkmode main {
  background-color: var(--dark-color);
  color: #fff;
}

.darkmode footer {
  background-color: #9176ff; /* Change footer background color in dark mode */
  color: #fff;
}

.darkmode .btn {
  box-shadow: inset 0 8px 60px rgba(255, 255, 255, 0.3),
    inset 8px 0 8px rgba(255, 255, 255, 0.3),
    inset 0 -4px 4px rgba(255, 255, 255, 0.3);
}

.darkmode .btn__icon {
  color: var(--dark-icon-color);
}

.darkmode .btn__icon.animated {
  animation: spin 0.5s forwards; /* Ensure the animation works correctly */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
